body {
	background-color: #ffffff;
}

container {
	max-width: 1440px;
	max-height: 960px;
}
.section {
	width: 980px;
	height: 330px;
	margin: 96px 230px 534px 230px;
	display: flex;
}

.hero {
	width: 505px;
	height: 330px;
	margin-right: 95px;
	background-position: center;
	background-size: 100%;
	background-image: url("/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale\,w_1400.jpg");
	background-repeat: no-repeat;
}
.content-hero {
	width: 380px;
	height: 250px;
	margin: 26.5px 0 26.5px 0;
}
.title {
	height: 50px;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-size: 42px;
	line-height: 50.4px;
	color: #121212;
}
.copy {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	margin: 24px 0 32px 0;
}
.btn {
	display: flex;
	width: 128px;
	height: 48px;
	border-radius: 32px;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	background: #e4c1ae;
	border: #121212;
}
.bg-popup {
	width: 1440px;
	height: 960px;
	background: #121212;
	opacity: 0.7;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.popup-content {
	width: 920px;
	height: 210px;
	background: #ffffff;
	position: relative;
}

.close {
	position: absolute;
	top: 36px;
	right: 46px;
	font-size: 40px;
	transform: rotate(45deg);
	cursor: pointer;
}

.alert {
	width: 380px;
	height: 98px;
	margin-left: 95px;
	margin-top: 56px;
}
h1 {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 50.4px;
	text-align: left;
	color: #121212;
	margin-top: 0px;
	margin-left: 0px;
}
p {
	width: 380px;
	height: 24px;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
}
.in-visible {
	display: none;
}
