/* Global */

$color-main: #ffffff;
$color-text: #121212;
$color-button: #e4c1ae;
$color-popup: #121212;
$font-family: "Roboto", sans-serif;
$line-height: 50px;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}
section {
	max-width: 1440px;
	max-height: 960px;
	margin: 0;
	color: $color-main;
	display: flex;
}
/* Section */

/*
.section-hero {
	width: 980px;
	height: 330px;
	margin: 96px 230px 534px 230px;
	display: flex;
	padding: 5px;
}
*/
.hero {
	width: 505px;
	height: 330px;
	margin: 96px 230px;
	background-position: center;
	background-size: 100%;
	background-image: url("/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale\,w_1400.jpg");
	background-repeat: no-repeat;
}
.content {
	width: 380px;
	height: 250px;
	position: absolute;
	margin: 136px 830px;
	display: flexbox;
}
.title {
	height: 50px;
	font-family: $font-family;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	color: $color-text;
}
.copy {
	font-family: $font-family;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	margin: 24px 0 32px 0;
	color: $color-text;
}
.btn {
	width: 128px;
	height: 48px;
	border-radius: 32px;
	display: inline-block;
	font-family: $font-family;
	text-align: center;
	color: #ffffff;
	background: $color-button;
}

/* Popup */

.bg-popup {
	width: 100%;
	height: 100%;
	background: $color-text;
	opacity: 0.7;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.popup-content {
	width: 920px;
	height: 210px;
	left: 260px;
	top: 375px;
	background: $color-main;
	text-align: left;
	position: absolute;
}
.close {
	position: absolute;
	top: 36px;
	right: 46px;
	font-size: 40px;
	transform: rotate(45deg);
	cursor: pointer;
	color: $color-text;
}

.alert {
	width: 380px;
	height: 98px;
	margin-left: 95px;
	margin-top: 56px;
}
h1 {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 50.4px;
	text-align: left;
	color: $color-text;
	margin-top: 0px;
	margin-left: 0px;
}
p {
	width: 380px;
	height: 24px;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	color: #121212;
}
.reset-btn {
	display: flex;
	width: 128px;
	height: 48px;
	border-radius: 32px;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	background: red;
}
.is-visible {
	display: none;
}
